<footer class="footer mt-auto p-3 bg-light">
  <div class="container-fluid">
    <a rel="me" class="link-secondary me-2" href="https://github.com/{{ site.github_username | cgi_escape | escape }}" title="{{ site.github_username | escape }}"><i class="bi bi-github"></i></a>
    <a rel="me" class="link-secondary me-2" href="https://www.linkedin.com/in/{{ site.linkedin_username | cgi_escape | escape }}" title="{{ site.linkedin_username | escape }}"><i class="bi bi-linkedin"></i></a>
    <a rel="me" class="link-secondary me-2" href="https://twitter.com/{{ site.twitter_username | cgi_escape | escape }}" title="{{ site.twitter_username | escape }}"><i class="bi bi-twitter"></i></a>
    <a rel="me" class="link-secondary float-end" href="{{ 'feed.xml' | relative_url }}" title="RSS"><i class="bi bi-rss-fill"></i></a>
  </div>
</footer>
