---
layout: default
---

<section class="container py-3 text-center">
  <div class="row">

    <div class="col-lg-8 mx-auto">
      <h1 class="fw-light">Hello there!</h1>
      <p class="lead">
        I'm a versatile visualisation, data, and software engineer.
        I enjoy using computers to answer questions.
      </p>
    </div>

  </div>
</section>

<div class="container py-3">
  <div class="row g-3">

    <div class="col-12">
      <div class="card shadow-sm">
        <img class="card-img-top img-fluid" width="100%" height="225" alt="Time series of deaths by date reported and deaths by date of death" src="assets/img/deaths_by_day.png">
        <div class="card-body">
          <p class="card-text">How do data for deaths by date reported differ from data for deaths by date of death?
            <a class="stretched-link link-secondary" href="https://github.com/iaindillingham/coronavirus-uk#coronavirus-in-the-uk">Read more</a>
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card shadow-sm">
        <img class="card-img-top img-fluid" width="100%" height="225" alt="Map of property prices" src="assets/img/property_prices.png">
        <div class="card-body">
          <p class="card-text">How to use <a href="https://vega.github.io/vega/">Vega</a> with projected spatial data?
            <a class="stretched-link link-secondary" href="https://github.com/iaindillingham/property-prices#property-prices">Read more</a>
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card shadow-sm">
        <img class="card-img-top img-fluid" width="100%" height="225" alt="Beeswarm plot of corporate reputation" src="assets/img/beeswarm_plot.png">
        <div class="card-body">
          <p class="card-text">How to create a buzz around corporate reputation with beeswarm plots?
            <a class="stretched-link link-secondary" href="https://observablehq.com/@iaindillingham/beeswarm-plots">Read more</a>
          </p>
        </div>
      </div>
    </div>

  </div>
</div>

<section class="container py-3 text-center">
  <div class="row">

    <div class="col-lg-8 mx-auto">
      <p>
        I have an MSc and PhD in Geographic Information Science from <a href="https://www.city.ac.uk/">City, University of London</a>, where I was lucky enough to be part of the <a href="https://www.gicentre.net/">giCentre</a>.
        After graduating, I spent a year as a research fellow in GeoInformatics at the <a href="https://www.st-andrews.ac.uk/">University of St Andrews</a>.
        I then spent four years with <a href="https://www.maplecroft.com/">Verisk Maplecroft</a> as a software and data engineer, and 2.5 years with <a href="https://www.polecat.com/">Polecat</a> as a data visualisation engineer.
      </p>
    </div>

  </div>
</section>
