name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: opensafely-core/setup-action@v1
        with:
          python-version: 3.12
          cache-dependency-path: requirements.*.txt
          install-just: true
      - run: just devenv
      - run: just check

  build:
    runs-on: ubuntu-latest
    needs: check
    steps:
      - uses: actions/checkout@v4
      - uses: opensafely-core/setup-action@v1
        with:
          python-version: 3.12
          cache-dependency-path: requirements.*.txt
          install-just: true
      - run: just devenv
      - run: just build
      - uses: actions/upload-pages-artifact@v3
        with:
          path: output/

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - uses: actions/deploy-pages@v4
        id: deployment
